---
layout: 'base.njk'
---

       
<article class="main-article">
  <div class="container container--narrow flow">
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <img src="https://drive.google.com/file/d/1wiYfdjN4d8YZQ9C1CR5XxSIEtgwN8ym-/view?usp=sharing" alt="" />
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>

    {{ content | safe }}

  </div>
</article>
